<h1>MDN Articles</h1>
<div class="large-12 large-centered columns article_pagination"><%= will_paginate @articles %></div>
<% @articles.each do |article| %>

   <div class="large-12 columns article_summary">
      <hr />
      <h4><%= article.title %> </h4>
      <h5><%= article.subtitle %></h5>
      <h6>by <%= article.author %></h6>
      <%= image_tag article.figure_url(:thumb).to_s %>
      <p><%= truncate(article.content.html_safe, length: 300, separator: ' ') %></p>
      <%= link_to( "Read More", article, :class => 'button tiny alert') %>
          
  </div>

<% end %>


