<div class="large-8 columns">
    <p id="notice"><%= notice %></p>
    <h1><%= @article.title %></h1>
    <h2><%= @article.subtitle %></h2>
    <p>by <%= @article.author %></p>
    <% if @article.figure? %>
    	<%= image_tag @article.figure_url(:lg_figure).to_s %>
    <% end %>
    <p><%= @article.content %></p>

    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Back', articles_path %>
</div>
