
<div id="main_content">
    <!-- put the body of the home page here -->
   
    <!-- First Band (Slider) -->
 
    <div class="row white">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-8 large-centered column">
            <div class="orbit-container">
              <div class="preloader"></div>
                <ul class="" data-orbit data-options="timer_speed:6000; animation: fade;">
                  <li><%= image_tag("mdn_orbit_image1.jpg", :alt => 'Scott Caesar speaking to an audience packed with men at a discipleship boot camp')%></li>
                  <li><%= image_tag("mdn_orbit_image2.jpg", :alt => 'Scott Caesar speaking to an audience packed with men at a discipleship boot camp')%></li>
                  <li><%= image_tag("mdn_orbit_image3.jpg", :alt => 'Scott Caesar speaking to an audience packed with men at a discipleship boot camp')%></li>
                  <li><%= image_tag("mdn_orbit_image4.jpg", :alt => 'Scott Caesar speaking to an audience packed with men at a discipleship boot camp')%></li>
                </ul>
                <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Three-up Content Blocks -->

      <div class="row white">
        <div class="large-8 columns pull-left">
          <div class="row">
              <div class="large-6 columns">
                <%= image_tag("curriculum/weapons_kit.jpg", :alt => 'Photo of WEAPONS training curriculum kit.')%>
                <h4>W.E.A.P.O.N.S. Training for Men</h4>
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef. <a href="/pages/curriculum" >Find out more</a></p>
              </div>
           
              <div class="large-6 columns">
                <%= image_tag("featured_img_2.jpg", :alt => 'Photo of WEAPONS training curriculum kit.')%>
                <h4>This is a content section.</h4>
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
              </div>
          </div>

          <div class="row">
           <%= render_cell :article_display, :display, :articles => @articles %>
          </div>
        </div>
        <div id="sidebar" class="large-4 columns pull-right line-left">
            <div id="facebook">
                        <span class='st_sharethis_large' displayText='ShareThis'></span>
                        <span class='st_facebook_large' displayText='Facebook'></span>
                        <span class='st_fblike_large' displayText='Facebook Like'></span>
                        <span class='st_twitter_large' displayText='Tweet'></span>
                        <span class='st_linkedin_large' displayText='LinkedIn'></span>
                        <span class='st_email_large' displayText='Email'></span>
            </div>
            <div class="widget">
                <div class="widget_title"><h4>Man to Man</h4><h5>Articles about men and for men</h5></div>
                <div class="widget_content">
                  
                  <ul>
                      <li>Am I Alone in My Struggle?</li>
                      <li>The Story of Joe</li>
                      <li>5 Things Every Man Must Know</li>
                      <li>When a "good" Thing Becomes a "god" Thing</li>
                      <li>What Does it Mean to be a Son?</li>
                      <li>Giving it All to God</li>
                  </ul>
                </div>
            </div>
            <div class="widget">
                <div class="widget_title"><h4>Upcoming Events</h4></div>
                <div class="widget_content">
                  <ul>
                      <li>W.E.A.P.O.N.S. Training - April 26th</li>
                      <li>ANKOM Bible Study - Thursdays at 6:30AM</li>
                      <li>Discipleship Boot Camp - March 2015</li>
                      <li>3rd Annual MDN Golf Outting and Fundraiser</li>
                      <li>Scott Caesar Speaking at Bethlehem Assy of God</li>
                  </ul>
                </div>
            </div>
            <div class="widget">
                <div class="widget_title"><h4>This Week's Man-nerism</h4></div>
                <div class="widget_content">
                  <p>"A man without vision has no future. A man without a future always returns to the past."</p>
                  <h6>Dr. A.R. Bernard</h6>
                </div>
            </div>
            <div class="widget">
                <div class="widget_title"><h4>Featured Resource</h4></div>
                <div class="widget_content pull-left clearfix">
                  <%= image_tag("crazy_love_med.jpg", :alt => 'Crazy Love')%>
                  <p>Are you crazy for God? Would someone looking at your life accuse you of being out of balance or even fanatical?</p>
                  <h6>by Francis Chan</h6>
                </div>
            </div>
            <div class="widget">
                <div class="widget_title"><h4>Take Our Survey</h4></div>
                <div class="widget_content">
                  <p>MDN is conducting anonymous surveys to help the church understand the men they are seeking to serve. Your answers are completely anonymous and only the answers are being collected. Click Here to start this quick 10 question survey.</p>
                </div>
            </div>
            <div class="widget">
                <div class="widget_title"><h4>Men's Curriculum Training</h4></div>
                <div class="widget_content">
                  <p>MDN has created a compelling and engaging system of discipleship that includes interesting and relevant curriculum. Inspired by scripture and taught by you, MDN's training curriculum provides what your men's ministry needs to deepen the commitment of your men to be followers of Christ. Call us to find out more: 631-753-1244</p>
                </div>
            </div>
        </div>
      </div>

    <!-- Call to Action Panel -->
      <div class="row white">
        <div class="large-12 columns">
          <div class="panel">  
            <div class="row">
              <div class="large-6 columns">
                <div class="row">
                    <div class="large-12 columns">
                      <h4>Get in touch!</h4>
                      <p>We'd love to hear from you. How is MDN impacting your life?</p>
                      <a href="#" class="radius button tiny">Contact Us</a>
                    </div>
                    <div class="large-12 columns">
                      <h4>Please Support MDN</h4>
                      <p>We rely on your generous financial support for us to continue our work.</p>
                      <a href="#" class="radius button tiny">Donate</a>
                    </div>
                    <div class="large-12 columns">
                      <div id="facebook">
                        <span class='st_sharethis_large' displayText='ShareThis'></span>
                        <span class='st_facebook_large' displayText='Facebook'></span>
                        <span class='st_fblike_large' displayText='Facebook Like'></span>
                        <span class='st_twitter_large' displayText='Tweet'></span>
                        <span class='st_linkedin_large' displayText='LinkedIn'></span>
                        <span class='st_email_large' displayText='Email'></span>
                      </div>
                      <div id="youtube">
                        <a href="http://www.youtube.com/subscription_center?add_user=BootCampDiscipleship&feature=creators_cornier-http%3A//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_130x36_red.png"><img src="http://s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_130x36_red.png" alt="Subscribe to me on YouTube"/></a><img src="http://www.youtube-nocookie.com/gen_204?feature=creators_cornier-http%3A//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_130x36_red.png" style="display: none"/>
                      </div>
                    </div>
                </div>
              </div>
              <div class="large-6 columns">
                <h4>Our Sponsors</h4>
                <p>MDN is sponsored in part by these Gold Partners and supporters like you. Thank you!</p>
                <div class="large-12 columns"
                    <a href="http://cccinfo.org" target="self"><%= image_tag "sponsors/ccc_sm.jpg" %></a>
                    <a href="http://www.wiringnewyork.com" target="self"><%= image_tag "sponsors/breen_sm.jpg" %></a>
                    <a href="http://cfan.org" target="self"><%= image_tag "sponsors/bonnke_sm.jpg", :class => "clear-right"%></a>
                    <a href="http://www.convoyofhope.org" target="self"><%= image_tag "sponsors/convoy_of_hope_sm.jpg" %></a>
                    <a href="https://www.logos.com" target="self"><%= image_tag "sponsors/logos_sm.jpg" %></a>
                    <a href="http://hoperadiony.com" target="self"><%= image_tag "sponsors/hope_radio_sm.jpg" %></a>
                    <a href="http://thebodybuilderbook.com/" target="self"><%= image_tag "sponsors/bodybuilder_sm.jpg" %></a>
                    <a href="http://boldsecure.com" target="self"><%= image_tag "sponsors/boldsecure_sm.jpg" %></a>
                    <a href="http://www.partnersworldwide.org" target="self"><%= image_tag "sponsors/partners_ww_sm.jpg" %></a>
                    <a href="http://www.apihotels.com" target="self"><%= image_tag "sponsors/api_sm.jpg" %></a>
                    <a href="http://www.p2print.com/" target="self"><%= image_tag "sponsors/print2print_sm.jpg" %></a>
                    <a href="http://estateplanning-elderlaw.com" target="self"><%= image_tag "sponsors/tully_sm.jpg" %></a>
                    <a href="http://www.1800nowhurt.com" target="self"><%= image_tag "sponsors/buttafuoco_sm.jpg" %></a>
                <div>
              </div>

            </div>
          </div>
        </div>
      </div>
</div>

 
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
