<div id="top-image">
		<%= image_tag("coaches/coaches_top_image.jpg", :width => '730', :height => '295', :alt => 'Men lining up to pray with MDN coaches at a Discipleship Boot Camp')%>
</div>
<div id="what_is">
	<div>
		<h1><span style="font-size: 18pt;">What is a Coach?</span></h1></br>
		<p>A question we are asked often here at Men's Discipleship Network is "what is a Coach"? Contrary to first thought, the MDN Coach has little to do with sports or even the way professional sport coaches work. As a matter of fact the word we use for "Coach" is found in the Bible over 125 times. The transliterated word from the Hebrew to English reads "Koach". What is even more astounding is the Old Testament Biblical definition of "Koach":</p>
		</br>
		<ul>
			<li>58 times it means Strength (of Angels)</li>
			<li>47 times it means Power (of God)</li>
			<li>In Daniel 1:4 it means Ability and Competence to Stand and Serve.</li>
		</ul>
		</br>
		<p>In 17 years of ministry to men we have determined that men are not as unmotivated and apathetic about Christianity as originally thought, but not systematically trained when it comes to the incarnation of their faith.</p></br>
		<p>The Coach is trained in man-skill techniques and is required to become an expert in how men learn. Coaches are asked to indoctrinate themselves in the "Masculine Mandate" that is sown throughout Holy Scripture. Memorization is but a portion of the requirement; study of Apologetic & Systematic Theology is standard requirement for this man who loves God with all his heart, and desires to serve and "Change families one man at a time".</p></br>

		<p>Before a Coach is accepted, applications are filled out with testimony and approval not only from the applicants spiritual covering (Clergy), but an in depth commentary by his wife. Years of service and study in servant leadership are required in the church, and headship in the home must be evident. If accepted, they must complete a rigorous training in which they incarnate the theology of Christian Manhood. This involves extensive reading, study, discussion as well as mentoring by our Head Coach Scott Caesar. If they graduate, then, and only then, do they receive the distinctive & well earned title of "Men's Discipleship Coach".</p></br>

		<p>So you see how important and how high of an honor we place on the men who have earned the title "Men's Discipleship Coach". There are many great men and women who serve God through MDN, but the Coach is the instructor and communicator of the vision that we believe God has laid upon us for families.</p></br>

		<p>Integrity and Accountability are the twin towers in which the MDN Coach is known by and sworn into. "A Coach walks with a man to a place he cannot go on his own" earning the right to speak Christ into his life." (Coach Bill McCartney)</p></br>

		<p>It is our distinct honor to introduce you to the Coaching Staff at Men's Discipleship Network.</p></br>
	</div>
</div>
</br>
<h1><span style="font-size: 18pt;">Meet the Coaches</span></h1></br>
<div id="coaches">
	<ul>
			<li><a id="magri" href="javascript:showonlyone('magri');" >Joe Magri</a></li>
			<li><a id="birthwright" href="javascript:showonlyone('birthwright');" >Marc Birthwright</a></li>
			<li><a id="casanova" href="javascript:showonlyone('casanova');" >Carlos Casanova</a></li>
			<li><a id="labriola" href="javascript:showonlyone('labriola');" >Dennis Labriola</a></li>
			<li><a id="eng" href="javascript:showonlyone('eng');" >Sunny Eng</a></li>
			<!-- <li><a id="modica" href="javascript:showonlyone('modica');" >Mike Modica</a></li> -->
			<li><a id="caesar" href="javascript:showonlyone('caesar');" >Scott Caesar</a></li>	
			<li><a id="cervera" href="javascript:showonlyone('cervera');" >Steve Cervera</a></li>			
	</ul>
	</br>
	</br>
	</br>	
</div>

<div id="photos">
<!-- Coaches Photos go in divs below -->
		<div name="coachbox" class="bio_photo" id="labriola" style="display:none"> 
			<%= image_tag "coaches/labriola.jpg" %><span><p>Coach Dennis Labriola</p></span>
		</div>
		<div name="coachbox" class="bio_photo" id="magri" style="display:block">
			<%= image_tag "coaches/magri.jpg" %><span><p>Coach Joe Magri</p></span>
		</div>
		<div name="coachbox" class="bio_photo" id="modica" style="display:none">
			<%= image_tag "coaches/modica.jpg" %><span><p>Coach Mike Modica</p></span>
		</div>
		<div name="coachbox" class="bio_photo" id="casanova" style="display:none">
			<%= image_tag "coaches/casanova.jpg" %><span><p>Coach Carlos Casanova</p></span>
		</div>
		<div name="coachbox" class="bio_photo" id="birthwright" style="display:none">
			<%= image_tag "coaches/birthwright.jpg" %><span><p>Coach Marc Birthwright</p></span>
		</div>
		<div name="coachbox" class="bio_photo" id="eng" style="display:none">
			<%= image_tag "coaches/eng.jpg" %><span><p>Coach Sunny Eng</p></span>
		</div>
		<div name="coachbox" class="bio_photo" id="caesar" style="display:none">
			<%= image_tag "coaches/caesar.jpg" %><span><p>Head Coach Scott Caesar</p></span>
		</div>
		<div name="coachbox" class="bio_photo" id="cervera" style="display:none">
			<%= image_tag "coaches/cervera.jpg" %><span><p>Coach Steve Cervera</p></span>
		</div>
</div>	
<div id="bios">
		
		<!-- Coaches bios go in divs below -->
		<div name="coachbox" class="bio_text" id="labriola" style="display:none">
			<p>I first become aware of the Men’s Discipleship Network shortly after the passing of my wife, Gail, in June of 2005. I was invited to a bible study by my church’s men’s ministry leader, Joe Avolese.  The early morning (6:30 am) study fit my life well as I wasn’t sleeping much anyway. This study was attended by men that seemed to be mature in the things of God and at first I did not feel that I belonged. I came to the Lord in 1978 and was always involved in bible studies, cell groups and generally pursued my faith and embraced the truth of one being a disciple of Christ. Although my “God Journey”  of almost 30 years brought me through some good times and times of challenge, walking through my wife’s illness and death brought me to places in my faith walk I knew very little about. At times I had no faith at all. Perhaps God wanted me to sit among these men for a bit.</p></br> 
			<p>It wasn’t long before I learned of the events that the Head Coach Scott Caesar and his team of coaches put on called Men’s Discipleship Boot Camps. Powerful, no nonsense, half-day events to grow men up in their walk with God and challenge them to be men, real men, as defined in the Bible. I found these events extremely valuable as they addressed a lack in the church and provided the antidote for many of the problems and challenges in Christian life today…. a lack of Christ-like, masculine manhood. The message of being a biblically based man coupled with the accountability found in a band of brothers of like mindedness and the practicality of being this “new man” all the time (even at 2:00 on a Tuesday afternoon) not only spoke to my spirit, but gave me permission to sit around the table with other men just like me. Some broken, some mended, some recovering, some victorious, all brothers and all sons of God.</p></br>
			<p>For me, the bible study and the events allowed me to recover from a deep hurt and loss. Yes, I am scarred, but I have learned to be proud of my battle wounds for they, like the stripes on the back of my precious Lord Jesus, show the seriousness of the fight and the value of the prize, my service to my brothers so they, too, can claim victory. I have learned the love of a brother and the commitment they have towards me. I have felt a brother reach down and pull me to a higher place. I have had the privilege to reach down to another in order to lift him.  I am amazed as to the unity in the room as Baptist, Catholic, Pentecostal, Lutheran, Jew and gentile all gather to worship Christ and share the knowledge of His kingdom.</p></br>
			<p>I have established friendships and “family” ties through this ministry that cannot be broken. It is even through this ministry that God has presented me a new love and marriage partner as God continues to restore me. Men’s Discipleship Network and it’s Ministries as well as the men (and women) associated with it have provided me an atmosphere to pursue Christ in authentic and practical ways that bring glory to God and significance to my walk. Discipleship is the giving of my whole life, for the whole of my life, to the learning of the ways of Christ and the pursuit of the knowledge of His kingdom. 
			To the Glory of Christ.</p></br>
		</div>
		<div name="coachbox" id="magri" style="display:block">
			<p>I have been part of the  Men’s Discipleship Network since it’s inception and have a tremendous Brother in Christ and friendship that goes back more than 25 years with Head coach Scott Caesar. </p></br>

			<p>As a young immature 19 year old getting saved for the first time, I might have understood the Salvation part but definitely not the Lordship part. </p></br>

			<p>Always spending time with the Men’s Discipleship Network band of Brothers truly helped mature me. Slowly I started to realize that it’s not just about me and my family and blessings, it was more about being a Blessing. It was so much about James 1:2-3 and counting it all joy and the proving & working out of your faith which produces endurance and helps in the development of the Hupomene (Greek for endurance) Man, the Perfect Mature Man in Christ. </p></br>

			<p>I give thanks to MDN Men’s for never watering down the truth, teaching truths that transform and Training that Sustains and helping me become the man I am today and continuing to become.  </p></br>
		</div>   
		<div name="coachbox" id="birthwright" style="display:none">
				<p>Marc Birthwright feels privileged to be a Men’s Discipleship Coach at Men’s Discipleship Network.  In addition Coach Marc is a “Certified W.E.A.P.O.N.S. Instructor having met the requirements to be certified by the MDN Board.</p></br>

				<p>As a leader in his profession Marc S. Birthwright has been a GM, Business Development Trainer, Motivational Speaker, and Consultant for major automotive companies such as Ford, Lincoln, Porsche, Audi, Volkswagen, Mitisubishi, Suzuki, and Cadillac. He is also a business owner of a Corporation which encompasses two firms First Choice Auto Consultants and First Choice Travel and Tours. With twenty years of automotives experience he has the ability to influence and change the direction of business entrepreneurs with a realistic approach. Having an instinctive talent to create and grow in business.</p></br>

				<p>He has a passion to help people of all walks of life by encouraging them not to allow conditions to dictate their future, using sheer trust and faith in God to breakthrough all obstacles.</p></br>  

				<p>Coach is also an Ordained Minister & Pastor. He and his wife Adrienne Birthwright Co-Pastor are the founders of Christian Word of Faith Ministries. They just celebrated their 25th Wedding Anniversary. With three children and two beautiful grandchildren, his family has been his strength and Has given him balance throughout his career.</p></br>
				
		</div>
		<div name="coachbox" id="casanova" style="display:none">
			<p>Men’s Discipleship Coach Carlos Casanova graduated from Pace College in June 1972 with a Bachelor of Business Administration Degree. Upon graduating he began his accounting career with the then “Big 8 Accounting Firm" Deliotte, Haskins & Sells and became licensed to practice as a C.P.A. in February 1976.</p></br> 
			<p>He has successfully climbed the Corporate ladder and held several financial management positions with companies Revlon, Inc, Ayerst International and the New York Stock Exchange, Inc.</p> </br> 
			<p>As the Controller of the New York Stock Exchange, Inc. Carlos was responsible for all aspects of Exchange business. As part of his many responsibilities Carlos has had extensive travel oversees to Europe and Latin America representing the above organizations.</p></br> 
			<p>Coach Carlos has recently transferred from the corporate world to successfully starting and owning his own accounting and tax business.</p> </br> 
			<p>Coach Carlos is committed to serving the Lord and he works on this by serving on the Men’s Discipleship Network Board of Directors and is also extensively involved with all of the Ministries Planning for Men’s Events. Carlos also serves on the Finance Committee.</p></br> 
			<p>Carlos is married to his lovely wife Joyce of 28 years and has four wonderful children.</p></br> 
		</div>
		
		<div name="coachbox" id="eng" style="display:none">
			<p>Men's Discipleship Network has been for Coach Sunny the field in Matthew 13:44 that a man
			comes across and finds hidden treasure [the Living and Transforming Word of God],
			with great joy hides it [takes it to heart], and sells all he has to buy it [dedicating one's 
			life and ambitions to helping other's find it as well].</p></br>

			<p>Coach Sunny, who is the current CTO for God4me Ministries has been a volunteer, a participant, a supporter, and now a coach at Men's Discipleship Network. Serving for over ten years, today and everyday is still a new adventure for him as he grows and lives the life Christ has called him and all of us to live.</p></br>

			<p>Coach Sunny graduated from Polytechnic University of New York in 1987 with a Bachelors of Science in Electrical Engineering and Computer Science.  He has achieved Engineering Honors - ETA Kappa Nu, Tau Beta Pi, a patent pending in Exotics Trading Systems at Merrill Lynch, and participation in patents at Grummans and AT&T Bell Labs.</p></br>

			<p>He has held technology, consulting, and executive management positions at Merrill Lynch, UBS/Swiss Bank, CS First Boston, AT&T Bell Laboratories - Murray Hill, and Northrop/Grumman. With responsibilities in Global Fixed Income Trading Systems, and Global Derivatives Documentation Systems in Asia Pacific, Australia and European countries.</p></br>

			<p>Sunny is married to his beautiful and loving high school sweetheart Shirley for 20 years. Has seven children, four girls and three boys, ranging from 4 yrs of age to the teens and two in college.</p></br>
		</div>
		
		<div name="coachbox" id="modica" style="display:none">
			<p>Mike has been involved with God4me Ministries since it was birthed over 13 years ago and he currently severs on the ministry’s Executive Board of Directors.  He oversees ministry operations, coordinates all field activities and plays a key role in the development of church relations   He is a contractor by day and Christ-laborer at night.  With a tremendous servants heart and God given gifts of leadership and administration, his efforts have been instrumental in the success of the God4me Men’s Network.  The Lord has blessed him with a incredible family of three beautiful young daughters; Kristi, Heather and Brooke, and Anne his wife of 14 years (he calls her his Proverbs 31 wife). He is a dedicated father and husband and puts his family second only to The Lord.  He is a strong believer in the importance of building Christian men to be the leaders in their homes, churches, and community.</p></br>
		</div>

		<div name="coachbox" id="caesar" style="display:none">
			<p>Head Coach Scott Caesar is a Discipleship Revivalist, and Founder of the Men’s Discipleship Network. He speaks to thousands each year at Business Conferences, Churches, Men’s Discipleship Boot Camp ® as well as the newly launched W.E.A.P.O.N.S.TM Curriculum. These events equip men to be more accountable leaders in their homes, churches and communities. As a Ordained Minister,  speaker and writer, Scott’s passionate calling is to assist men in their spiritual growth by replacing the lies of the world with the truth of the Bible so that they may become fully devoted followers of Jesus Christ.</p></br> 

			<p>Friends and Mentors, Promise Keepers ® Founder, Bill McCartney, The late Dr. Edwin Louis Cole, Rich Galloway, Bishop Rod Caesar and Pastor Steve Milazzo,  have shaped and molded Scott as he stands in the gap with the local Church as an advocate for Christian Men, not ceasing till revival through ministry to men takes place.</p></br>

			<p>The Men’s Discipleship Network’s Four Phase System of Male Discipleship has seen unprecedented growth in the Northeast due to the message–driven events that hold men and their churches accountable to the process of transformation. “Truth that Transforms Needs Training that Sustains.”</p></br>

			<p>This is all done in partnership with the local church as over 50,000 men from over 1000 churches have been trained this Discipleship System.</p></br>

			<p>One of Scott’s joys is the Businessmen of Faith TM luncheons held throughout NY. Men come from all venues to engage faith, integrity and excellence in the marketplace. </p></br>

			<p>Coach can be heard daily on Radio with “Manhood Minutes” as well as his weekly Radio show “A New Kind of Man”.</p></br>

			<p>Scott’s greatest thrill is that God calls him Son, Debbie calls him hers’ and Kimberly, Vincent and Nicholas call him Dad. He resides in Massapequa Park, NY.</p></br>
			
			<p>Coach can be heard on the weekly <a href="/pages/radio">radio broadcast program “A New Kind of Man” on WLIX.</a></p></br>
			<h2>Coach Scott Caesar on national TV</h2>
				<iframe width="420" height="345" src="http://www.youtube.com/embed/KXjvYUy8P34" frameborder="0" allowfullscreen></iframe>  
			</br>
		</div>
		<div name="coachbox" id="cervera" style="display:none">
			<p>Steve was introduced to the ministry when his best friend invited him to attend one of the Thursday morning bible studies, 
				now known as "A New Kind of Man" Study in Biblical Manhood.</p></br>
	        <p>Steve recalls, "I was immediately impressed by the great wisdom of the Coaches of MDN, their depth and sincerity. Over time I 
	        	witnessed that it wasn't just a show. These guys really practice what they preach. I am glad to be considered their brother and friend.
	        	 Men's Discipleship Network speaks to men about the challenges, temptations, and struggles that ALL men face. I have rarely heard 
	        	 such honest and practical teachings on biblical manhood in the Church that have helped me personally to live a fruitful and fulfilling 
	        	 life in Christ. Having participated many seasons of Discipleship Boot Camps, I have witnessed and heard the cries of
	        	  scores of men who are desperate in their struggle to live their lives free from the enslavement to things like purposelessness, 
	        	  pornography, infidelity, anger, marital strife, anger, fear, failure of relationships, and other self induced suffering. I have 
	        	  seen how the simple truths of Scripture poured into other men through a system of discipleship by men who deeply care about other 
	        	  men, can transform a man's life."</p></br>
	        <p>Steve is a manager at one of the world's largest technology companies. His professional career spans 24 years, but he finds his 
	        	greatest satisfaction is his work for MDN. Steve serves as Director of Web & Media for Men's Discipleship Network and has been a 
	        	part of a team of dedicated men who produce the videos and podcasts for the ministry. Steve is also the webmaster for the 
	        	mensdiscipleshipnetwork.com website, and serves as co-host with Coach Marc Birthwright on the radio program "A New Kind of Man" 
	        	featuring Head Coach Scott Caesar. </p></br>
	        <p>Steve is a graduate of the Chuck Colson Centurions Program which is a program that trains layman and leaders to be teachers and advocates of Christian Worldview and to challenge modern cultural values to point them back to the Creator of all things. Steve has earned the 
	        	title of "Coach" after passing the rigorous MDN Coach Training
	        	 curriculum. He has been a Christian since the age of 11, though he admits that many of those years as a youth were troubled after 
	        	 the murder of his father when Steve was only 13.</p></br>
	        <p>Steve has been married for 24 years to the woman of his dreams. Steve says, "We have invested a lot in our marriage over the years, 
	        	and have harvested a deep and abiding love for each other." Steve is the father of two beautiful teenage daughters and his greatest 
	        	desire for them is that they know God and bear much fruit for Him.</p></br>
	    </div>
	    <a href="#">Back to top</a> &uarr;
<script src="http://code.jquery.com/jquery-latest.js"></script>

<script>
function showonlyone(thechosenone) {
     $('div[name|="coachbox"]').each(function(index) {
          if ($(this).attr("id") == thechosenone) {
               $(this).fadeIn("slow");
          }
          else {
               $(this).fadeOut("slow");
          }
     });
}
</script>
