<div class="clearfix">
	<div>
		<h1>MDN Sponsors</h1></br>
		<p>MDN is a 501c3 Non-Profit organization. We depend on the generous financial support of individuals, churches, ministries, and businesses in order to remain in existence. We are so incredibly grateful for all who contribute to the work and ministry of Men's Discipleship Network. We'd like to dedicate this page to our Gold and Silver Partners who have given generously to support this ministry. Thank you!</p></br>
	</div>

	<div class="centered">
		<h1><span style="color:#C5B358;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">MDN Gold Partners</span></h1>
		<div class="grid sponsor"><a href="http://www.apihotels.com" target="self"><%= image_tag "sponsors/api_lg.jpg" %></a></div>
		<div class="grid sponsor"><a href="http://www.bethlehemag.org" target="self"><%= image_tag "sponsors/bethlehem_lg.jpg" %></a>	</div>
		<div class="grid sponsor"><a href="http://thebodybuilderbook.com/" target="self"><%= image_tag "sponsors/bodybuilder_lg.jpg" %></a>	</div>
		<div class="grid sponsor"><a href="http://boldsecure.com" target="self"><%= image_tag "sponsors/boldsecure_lg.jpg" %></div>
		<div class="grid sponsor"><a href="http://cfan.org" target="self"><%= image_tag "sponsors/bonnke_lg.jpg", :class => "clear-right"%></a>	</div>
		<div class="grid sponsor"><a href="http://www.wiringnewyork.com" target="self"><%= image_tag "sponsors/breen_lg.jpg" %></a>	</div>
		<div class="grid sponsor"><a href="http://www.1800nowhurt.com" target="self"><%= image_tag "sponsors/buttafuoco_lg.jpg" %></a></div>
		<div class="grid sponsor"><a href="http://cccinfo.org" target="self"><%= image_tag "sponsors/ccc_lg.jpg" %></a>	</div>
		<div class="grid sponsor"><a href="http://www.convoyofhope.org" target="self"><%= image_tag "sponsors/convoy_of_hope_lg.jpg" %></a></div>
		<div class="grid sponsor"><a href="http://hoperadiony.com" target="self"><%= image_tag "sponsors/hope_radio_lg.jpg" %></a></div>
		<div class="grid sponsor"><a href="https://www.logos.com" target="self"><%= image_tag "sponsors/logos_lg.jpg" %></a></div>
		<div class="grid sponsor"><a href="http://www.partnersworldwide.org" target="self"><%= image_tag "sponsors/partners_ww_lg.jpg" %></a></div>
		<div class="grid sponsor"><a href="http://www.p2print.com/" target="self"><%= image_tag "sponsors/print2print_lg.jpg" %></a></div>
		<div class="grid sponsor"><a href="http://estateplanning-elderlaw.com" target="self"><%= image_tag "sponsors/tully_lg.jpg" %></a></div>
		<div class="grid sponsor"></div>

	</div>

	<div class="centered">
		</br>
		</br>
		<h1><span style="color:#C0C0C0;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">MDN Silver Partners</span></h1>
		<div class="grid sponsor"><%= image_tag "sponsors/silver/actionair_lg.jpg" %></div>
		<div class="grid sponsor"><%= image_tag "sponsors/silver/emmanuel_lutheran_lg.jpg" %></div>
		<div class="grid sponsor"><%= image_tag "sponsors/silver/high_tech_hwy_lg.jpg" %></div>
		<div class="grid sponsor"><%= image_tag "sponsors/silver/impact_sys_lg.jpg" %></div>
		<div class="grid sponsor"><%= image_tag "sponsors/silver/joe_tarfuro_lg.jpg" %></div>
		<div class="grid sponsor"><%= image_tag "sponsors/silver/royal_rangers_lg.jpg" %></div>
		<div class="grid sponsor"><%= image_tag "sponsors/silver/tristar_lg.jpg" %></div>
		<div class="grid sponsor"></div>
		<div class="grid sponsor"></div>
	</div>
</div>