<!DOCTYPE html>
<html lang="en">
  <%= render "/shared/header" %>

  <body id="main">
    <div class="row">
      <div id="wrapper">
          <!-- BEGIN Website content -->
          <%= render "/shared/masthead" %>
          <%= render "/shared/navbar" %>
          <div id="main_content">
            <%= yield %>
          </div>
          <%= render "/shared/footer" %>
          <%= javascript_include_tag "application" %>
          <!-- END Website content -->
      </div>
    </div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.mdn_slider').slick({
      arrows: true,
      infinite: true,
      slidesToShow: 1,
      fade: true,
      speed: 2000,
      autoplay: true,
      autoplaySpeed: 7000,
      dots: true,
      slide: 'div'
    });
  });
</script>
  </body>
</html>