<!DOCTYPE html>
<html lang="en">
  <%= render "/shared/header" %>

  <body id="main">
    <div class="row">
      <div id="wrapper">
          <!-- BEGIN Website content -->
          <%= render "/shared/masthead" %>
          <%= render "/shared/navbar" %>
          <div id="main_content">
            <%= yield %>
          </div>
          <%= render "/shared/footer" %>
          <%= javascript_include_tag "application" %>
          <!-- END Website content -->
      </div>
    </div>
  </body>
</html>